absl-py
hydra-core
imageio
imageio-ffmpeg
matplotlib
numpy
meshcat
opencv-python
regex
scikit-image
scipy
tdqm
lightning
tokenizers
transformers==4.36.0
transforms3d
packaging
sentencepiece
ordered_set
protobuf
torchmetrics
tensorboard
tensorboardx
pytorch-lightning
websocket-client
websockets
accelerate
bitsandbytes
dotmap
tqdm
pandas
openai
