absl-py
hydra-core
imageio
imageio-ffmpeg
matplotlib~=3.7.1
numpy~=1.24.3
meshcat
opencv-python
regex
scikit-image
scipy
tdqm
lightning
tokenizers
transformers==4.36.0
transforms3d
packaging
sentencepiece
ordered_set
protobuf
torchmetrics
tensorboard
tensorboardx
pytorch-lightning
websocket-client
websockets
accelerate
bitsandbytes
dotmap
tqdm
pandas~=2.0.2
openai
flash-attn
